<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~./home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <div id="container">
        <div class="logo"><p>WebsiteName.com</p></div>
        <div class="nav">
            @{
                if(@ViewBag.loggedIn == true){
                    <p>
                        <a href="">Help</a> | <a asp-action="Logout">Logout</a> | <a href="">Profile</a>
                    </p>
                }
                else{
                    <p>
                        <a href="">Help</a> | <a asp-action="About">Login</a> | <a asp-action="Contact">Register</a>
                    </p>
                }
            }
        </div>
        <h1 class="heading">Find Your Tutor!</h1>
        <div class="searchbar">
            <form action="">
                <input class="input" type="text" placeholder="Search for your language...">
                <button class="searchbutton">Search</button>
            </form>
        </div>
    </div>
    
</body>
</html>