<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <div id="container">
        <div class="logo"><p>WebsiteName.com</p></div>
        <div class="nav">
            <p>
                <a href="">Help</a> | <a href="file:///Users/jharmoush/CodingDojo/c%23/Projects/html/login.html">Login</a> | <a href="file:///Users/jharmoush/CodingDojo/c%23/Projects/html/register.html">Register</a>
            </p>
        </div>
        <h1 class="heading">Find Your Tutor!</h1>
        <div class="searchbar">
            <form action="">
                <input class="input" type="text" placeholder="Search for your language...">
                <button class="searchbutton">Search</button>
            </form>
        </div>
    </div>
    
</body>
</html>