<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <div id="container">
        <div class="logo"><p>WebsiteName.com</p></div>
        <div class="nav">
            <p>
                <a href="">Help</a> | <a asp-action="Index">Home</a> | <a asp-action="Contact">Register</a>
            </p>
        </div>
        <h2>Login!</h2>
        <div class="login">
            @model ValidateUser
            <form action="Login">
                <span>@ViewBag.error</span>
                <p>Email: <input asp-for="Email"></p>
                <p>Password: <input asp-for="Password"></p>
                <button>Log In!</button>
            </form>
        </div>
    </div>
</body>
</html>