<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wedding Planner</title>
</head>
<body>
    <h1>Wedding Planner</h1>
    <div class="register">
        <h3>Register</h3>
        @model ValidateUser
        <form asp-action="Contact" asp-controller="Home" method="post">
            <span asp-validation-for="FirstName"></span>
            <p>First Name: <input asp-for="FirstName"></p>

            <span asp-validation-for="LastName"></span>
            <p>Last Name: <input asp-for="LastName"></p>

            <span asp-validation-for="Email"></span>
            <p>Email: <input asp-for="Email"></p>

            <span asp-validation-for="Password"></span> 
            <p>Password: <input asp-for="Password"></p>

            <span asp-validation-for="ConfirmPw"></span>
            <p>Confirm Password: <input asp-for="ConfirmPw"></p>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>