<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="register.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
    <div class="container">
        <div class="logo"><p>WebsiteName.com</p></div>
        <div class="nav">
            <p>
                <a href="">Help</a> | <a href="file:///Users/jharmoush/CodingDojo/c%23/Projects/html/login.html">Login</a> | <a href="file:///Users/jharmoush/CodingDojo/c%23/Projects/html/home.html">Home</a>
            </p>
        </div>
        <h2>Sign Up!</h2>
        <div class="register">
            <form action="" method="post">

                <span asp-validation-for="FirstName"></span>
                <p>First Name: <input asp-for="FirstName"></p>

                <span asp-validation-for="LastName"></span>
                <p>Last Name: <input asp-for="LastName"></p>

                <span asp-validation-for="DOB"></span>
                <p>Date of Birth: <input type="date" asp-for="DOB"></p>

                <span asp-validation-for="Email"></span>
                <p>Email: <input asp-for="Email"></p>
              
                <span asp-validation-for="Street"></span>
                <p>Street: <input asp-for="Street"></p>
                
                <span asp-validation-for="City"></span>
                <p>City: <input asp-for="City"></p>
                
                <span asp-validation-for="State"></span>
                <p>State: <input asp-for="State"></p>
                
                <span asp-validation-for="Zip"></span>
                <p>Zip: <input asp-for="Zip"></p>
                
                <p>Are you signing up as a tutor?<input type="checkbox" asp-for="Tutor"></p>

                <p>Choose the language(s) you would like to tutor in:</p>
                <p>Whatever Language <input type="checkbox"></p>

                <p>Are you willing to travel? <input type="checkbox" asp-for="Travel"></p>

                <span asp-validation-for="Password"></span>
                <p>Password: <input asp-for="Password"></p>

                <span asp-validation-for="ConfirmPass"></span>
                <p>Confirm Password: <input asp-for="ConfirmPass"></p>

                <button class="registerButton">Register!</button>
            </form>
        </div>
    </div>
    
</body>
</html>